
Projects/Learning C++/c++ 1.txt
Projects/Learning C++/a.exe
ForFunsies/chineseDictionaryMaybe.py
ForFunsies/character-by-character translation/file translation/SH21.txt
ForFunsies/character-by-character translation/file translation/test.txt
ForFunsies/character-by-character translation/file translation/translated.txt
ForFunsies/character-by-character translation/file translation/desktop.ini
ForFunsies/character-by-character translation/file translation/SH21-seg1.txt
